<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main id="quote">
        <section>
            <div class="title-box">
                <span>
                    <%- data.authorId%>
                </span>
                <h2>
                    <%- data.author%>
                </h2>
                <hr />
                <p>
                    <%- data.bio%>
                </p>
            </div>
            <div class="info">
                <q>
                    <%- data.quote%>
                </q>
            </div>
        </section>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>

</html>