<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main id="quotes">
        <% data.forEach( (quote)=> { %> 
            <section>
                <div class="title-box">
                    <span><%-quote.authorId%></span>
                    <h2><a href="/quotes/<%- quote.id%>"><%-quote.author%></a></h2>
                    <hr />
                    <p><%-quote.bio%></p>
                </div>
            </section>
        <%}) %>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>

</html>